@model NetMvc.Cms.Common.ViewModel.Common.ApiResult<NetMvc.Cms.Common.Dto.SlideDto>

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@Resources.CmsResource.AdminSlideCreateTitlePage</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Resources.CmsResource.AdminNoteForm
            </div>
            <div class="panel-body">
                @if (TempData["Notification"] != null)
                {
                    @Html.Hidden("NotificationAutoHide", TempData["NotificationAutoHide"])
                    <div id="NotificationBox" class="@TempData["NotificationCSS"]" style="display: none">
                        @TempData["Notification"]
                    </div>
                }
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Create", "Slide", FormMethod.Post, new { @role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                <label>  @Html.LabelFor(model => model.ResultObj.Name)</label>

                                @Html.TextBoxFor(model => model.ResultObj.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ResultObj.Name)
                            </div>
                            <div class="form-group">
                                <label>  @Html.LabelFor(model => model.ResultObj.Description)</label>

                                @Html.TextBoxFor(model => model.ResultObj.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ResultObj.Description)
                            </div>

                            <div class="form-group">
                                <label>
                                    @Html.LabelFor(model => model.ResultObj.Link)
                                </label>

                                @Html.TextBoxFor(model => model.ResultObj.Link, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ResultObj.Link)
                            </div>
                              <div class="form-group">
                                <label>
                                    @Html.LabelFor(model => model.ResultObj.Images)
                                </label>
                                @Html.TextBoxFor(model => model.ResultObj.Images, new { @class = "form-control", @id = "txtImgUrl" })
                                <input type="button" id="btnSelectImg" class="btn btn-info" value="@Resources.CmsResource.AdminSelectImageButtonText" />
                                @Html.ValidationMessageFor(model => model.ResultObj.Images)
                            </div>
                            <div class="form-group">
                                <label>
                                    @Html.LabelFor(model => model.ResultObj.Order)
                                </label>

                                @Html.TextBoxFor(model => model.ResultObj.Order, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ResultObj.Order)
                            </div>
                            <div class="form-group">
                                <label>
                                    @Html.LabelFor(model => model.ResultObj.Status)
                                </label>
                                @Html.CheckBoxFor(model => model.ResultObj.StatusBoolable.Value, new { @checked = "checked" })
                                @Html.ValidationMessageFor(model => model.ResultObj.StatusBoolable.Value)
                            </div>
                             <div class="form-group">
                                <label>@Html.LabelFor(model => model.ResultObj.GroupID)</label>
                                @Html.DropDownListFor(model => model.ResultObj.GroupID, (SelectList)ViewBag.Groups, @Resources.CmsResource.AdminEmptyGroupSelectionText, new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-default">@Resources.CmsResource.AdminSaveButtonText</button>

                            @Html.ActionLink(@Resources.CmsResource.GoBackToListText, "Index");
                        }

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>