@using Microsoft.AspNet.Identity
@using NetMvc.Cms.Portal.Class
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        bool isAdmin = false;
        Boolean.TryParse(AppData.IsAdmin.ToString(), out isAdmin);

        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            @*<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart(@ViewData["CartCount"])</a></li>*@
            @{Html.RenderAction("CartSummary", "ShoppingCart");}
            
            @if (isAdmin)
            {
                <li>
                    <a href="/Admin/Home">
                        <span class="glyphicon glyphicon-cog"></span> ADMIN
                    </a>
                </li>
            }
           
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}